/*  style for details_dienlanh.html and detail_dientu.html*/
.cost {
	color: red;
	float: right;
	
}
.introtext {
	float: left;
	font-style: italic;
}
 
.error{
     font-size: 0.8em;
     border: 1px solid;
     margin: 10px 0px;
     padding:15px 10px 15px 8px;
     text-align:center;
     color: #D8000C;
     background-color: #FFBABA;
}